.item {
    display: flex;
    align-items: center;
    margin: 15px;
    max-width: 90vh;
}
  .item img {
    width: 45px;
    height: 45px;
       border-radius: 50px;
       margin: 0 20px 0 0;
       float: left;
  }
.postText {
  display: inline-block;
}
  .likes {
   text-align: end;
  }
///check
