.pagination_container {
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 15px;
    margin-left: 17%
}
.page {
    margin: 0 5px;
    cursor: pointer;
    padding: 3px 10px;
}
.currentPage {
    font-weight: 800;
    background-color: rgba(98, 98, 98, 0.39);
    border-radius: 30px;
}
.nextPage, .prevPage {
    cursor: pointer;
    margin: 0 10px;
    font-weight: 700;
}