.preloader_container_main {
    height: 50%;
    width:50%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_section {
   margin-left: 10%;
   margin-bottom: 5%;
}
.search_section input {
    width: 70%;
    height: 30px;
}
.user_box {
    padding: 10px 0 20px 5px
}
.user_box_content{
    display: flex;
    align-items: center; 
}
.user_avatar img {
    width: 90px;
    height: 90px;
    border-radius: 70px;
    margin-right: 20px;
}
.add_button {
    margin-top:10px
}
.showMore_container {
    padding: 15px 0 10px 0;
    margin-left:40%;
}
