textarea {
    resize: none;
}
.modelWindow_content {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    background-color: wheat;
    border-radius: 15px;
}

.userInfo_container {
padding:15px;
}


.backImg img {
    width: 100%;
    height: 100px;
    border-radius:10px 10px 0 0;
}
.userAvatar {
    position: relative;
    display: flex;
    align-items: center;
}
.userAvatar img {
    border-radius: 20px;
    width: 50px;
    height: 50px;
}
.changeAvatar {
margin-top: 30px;
}

.changeAvatar input {
    display: none;
}

.changeBackImg input {
    display: none;
}
.changeBackImg {
    display: flex;
    justify-content: flex-end;
    margin-top: -25px;
}
.icon {
    color:darkorange;
}
.lookingForAJob_container {
    display: flex;
    align-items: center;
}
.lookingForAJob_container p {
    margin-right:5px;
}

.contacts_header, .mySkills_header, .about_header {
    padding:10px 0;
}