.sideBar {
    grid-area: side-bar;
    background-color:whitesmoke;
    height: 600px;
    display: flex;
    justify-content: center;
}

ul {
  background-color: #3A4750;
  width: 100%;
}
.sideBar li {
  list-style: none;
  text-decoration: none;
  font-size:20px;
  padding: 30px;
}
.sideBar a {
text-decoration: none;
color: black;
}

.sideBar a:hover {
  color: yellow;
  text-decoration: underline;
}