.sideBar {
    grid-area: side-bar;
    background-color:darkorange;
    height: 300%;
  }

.sideBar li {
 list-style: none;
  text-decoration: none;     
}
.sideBar a {
text-decoration: none;
color: black;
}