* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: sans-serif;
    background-color: darkred;
    }
  
  .grid_container {
    max-width: 1300px;
    margin: 0 auto;
    grid-template-areas: 
    'header header'
    'side-bar profile';
    display: grid;
    grid-template-columns: 2fr 10fr;
  }
  
  .mainContent_container {
    grid-area: profile;
    background-color:#3A4750;
    min-height: 600px;
  }

  .preloader_container_main {
    height: 50%;
    width:50%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
